* {
  box-sizing: border-box; }

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px; }

img {
  display: block;
  max-width: 100%; }

h2 {
  font-family: 'Eurostile-Extended-Black';
  font-size: 3.375rem; }

h4 {
  font-family: 'Eurostile-Extended-Regular';
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 1.325em; }

.text-center {
  text-align: center; }

p {
  font-size: 1rem;
  line-height: 1.3rem; }

header.hero-banner {
  position: relative;
  height: 100vh;
  background-color: #1B1B1B;
  color: #FFFFFF;
  background-image: url("../../assets/header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center; }
  header.hero-banner::before, header.hero-banner::after {
    position: absolute;
    display: block;
    content: "";
    background-color: #1B1B1B;
    width: 100%;
    top: 100%;
    left: 0;
    height: 57px; }
  header.hero-banner::after {
    height: 114px;
    border-radius: 50%;
    bottom: -114px; }
header .top-bar-wrap {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0; }
  header .top-bar-wrap .container {
    flex-direction: column;
    align-items: center;
    text-align: center; }
header .nav-logo {
  margin-top: 34px; }
  header .nav-logo img {
    max-width: 183px; }
header .toggle-mobile-menu {
  display: none; }
header .nav-links ul {
  font-family: 'Eurostile-Regular';
  display: flex;
  flex-direction: row;
  margin-top: 13px; }
  header .nav-links ul li a {
    display: block;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
    padding: 14px 20px;
    -webkit-transition: all ease-in-out 180ms;
    -moz-transition: all ease-in-out 180ms;
    -ms-transition: all ease-in-out 180ms;
    -o-transition: all ease-in-out 180ms;
    transition: all ease-in-out 180ms; }
    header .nav-links ul li a:hover {
      color: #EB6900; }
header .countdown-event {
  text-align: center;
  margin: auto;
  padding: 1rem 0;
  text-transform: uppercase; }
  header .countdown-event #countdown {
    padding-top: .45rem; }
  header .countdown-event ul {
    display: flex;
    align-items: center;
    justify-content: center; }
    header .countdown-event ul li {
      position: relative; }
      header .countdown-event ul li:last-child div::after {
        display: none; }
      header .countdown-event ul li div {
        font-family: "Eurostile-Extended-Black";
        font-size: 3.375rem;
        position: relative;
        display: flex;
        padding: 0 0.75rem; }
        header .countdown-event ul li div::after {
          position: absolute;
          display: block;
          content: ":";
          top: -5px;
          right: -11px; }
      header .countdown-event ul li span {
        display: block;
        font-family: 'Eurostile-Extended-Regular';
        font-size: 14px;
        text-transform: lowercase; }

.section-upcoming-events {
  padding-top: 12.5rem;
  padding-bottom: 10rem;
  text-align: center;
  background-image: url("../../assets/splash-bg.jpg");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat; }

.upcoming-events-headline {
  max-width: 650px;
  margin: auto; }
  .upcoming-events-headline h2 {
    margin-bottom: 1rem; }

.events-slider-wrap {
  margin-top: 2.5rem; }

.events-slider-list {
  display: none; }
  .events-slider-list.slick-initialized {
    display: block; }

.events-slider-details {
  height: 435px;
  width: 100%;
  margin: auto;
  background-color: #FFFFFF;
  border: 1px solid #EB6900;
  border-radius: 4px;
  position: relative;
  overflow: hidden; }
  .events-slider-details .event-img {
    position: relative;
    overflow: hidden;
    min-height: 315px; }
    .events-slider-details .event-img img {
      object-fit: cover;
      width: 100%;
      height: 315px; }
  .events-slider-details .event-title {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .events-slider-details .event-title h4 {
      padding: 0.85rem;
      font-family: "Oswald-Heavy"; }
    .events-slider-details .event-title .event-desc {
      text-align: left;
      padding-right: .75rem; }
      .events-slider-details .event-title .event-desc h4 {
        padding: 0;
        margin-bottom: 0.25rem; }
      .events-slider-details .event-title .event-desc p {
        overflow: hidden;
        width: 100%;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical; }
  .events-slider-details .events-card-show {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; }
    .events-slider-details .events-card-show .event-title {
      transition-delay: 200ms;
      opacity: 1; }
  .events-slider-details .events-card-hide {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    background-color: #EB6900; }
    .events-slider-details .events-card-hide .event-title {
      justify-content: space-between;
      transition-delay: 200ms;
      opacity: 0;
      height: 120px;
      padding: 0 1.35rem; }
      .events-slider-details .events-card-hide .event-title h4 {
        color: #FFFFFF; }
    .events-slider-details .events-card-hide .date {
      display: block;
      position: relative;
      min-width: 113px;
      max-height: 94px;
      border-radius: 3px;
      border: 1px solid #ffffff;
      color: #FFFFFF;
      padding-top: 0.2rem; }
      .events-slider-details .events-card-hide .date .month {
        font-family: 'Oswald-Heavy';
        text-transform: uppercase; }
      .events-slider-details .events-card-hide .date .year {
        padding: 0;
        font-family: 'Eurostile-Extended-Black'; }

.mt-0 {
  margin-top: 0 !important; }

.mt-1 {
  margin-top: 1rem; }

.mt-2 {
  margin-top: 2rem; }

.mb-1 {
  margin-bottom: 1rem; }

.mb-2 {
  margin-bottom: 2rem; }

.mb-3 {
  margin-bottom: 3rem; }

.mb-4 {
  margin-bottom: 4rem; }

.slick-slide {
  width: 300px;
  padding: 0 15px;
  transition: 200ms cubic-bezier(0.65, 0.05, 0.36, 1); }
  .slick-slide:hover {
    border-color: #FFFFFF;
    filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.25));
    width: 630px; }
    .slick-slide:hover .events-card-show {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      visibility: hidden; }
      .slick-slide:hover .events-card-show .event-title {
        transition-delay: 200ms;
        opacity: 0; }
    .slick-slide:hover .events-card-hide {
      opacity: 1;
      visibility: visible; }
      .slick-slide:hover .events-card-hide .event-title {
        opacity: 1; }

.slide-count {
  position: absolute;
  white-space: nowrap;
  top: 7px;
  left: 30px;
  color: #ACADBC;
  font-size: 14px;
  pointer-events: none; }

.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 2.5rem; }
  .slick-dots li {
    position: relative; }
  .slick-dots button {
    outline: none;
    overflow: hidden;
    font-size: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid rgba(172, 173, 188, 0.6);
    background-color: transparent;
    cursor: pointer;
    -webkit-transition: all ease-in-out 180ms;
    -moz-transition: all ease-in-out 180ms;
    -ms-transition: all ease-in-out 180ms;
    -o-transition: all ease-in-out 180ms;
    transition: all ease-in-out 180ms; }
    .slick-dots button:hover {
      background-color: #1B1B1B;
      border-color: #1B1B1B; }
  .slick-dots .slick-active button {
    width: 50px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    background-color: #1B1B1B; }

.section-newsletter {
  background-color: #EB6900;
  color: #FFFFFF;
  position: relative;
  padding-top: 1rem; }
  .section-newsletter::before {
    position: absolute;
    display: block;
    content: "";
    top: -2px;
    left: 0;
    width: 100%;
    background-color: #EB6900;
    height: 4px; }
  .section-newsletter h5 {
    font-family: 'Eurostile-Extended-Regular';
    text-transform: uppercase; }
  .section-newsletter .container {
    flex-direction: row; }
  .section-newsletter .newsletter-form-wrap {
    display: flex;
    align-items: center; }
  .section-newsletter .newsletter-details h2 {
    margin-bottom: .35rem; }
  .section-newsletter .social-media-icon {
    margin-top: 1.5rem; }
    .section-newsletter .social-media-icon ul {
      display: flex;
      align-items: center;
      gap: 16px;
      margin-top: .75rem; }
      .section-newsletter .social-media-icon ul a {
        -webkit-transition: all ease-in-out 180ms;
        -moz-transition: all ease-in-out 180ms;
        -ms-transition: all ease-in-out 180ms;
        -o-transition: all ease-in-out 180ms;
        transition: all ease-in-out 180ms;
        display: block; }
        .section-newsletter .social-media-icon ul a:hover {
          opacity: 0.7; }

.form-group {
  margin-top: 1rem;
  position: relative;
  display: flex;
  max-width: 420px; }
  .form-group form {
    width: 100%; }
  .form-group input {
    padding: 0 0.875rem;
    outline: none;
    font-family: 'Oswald';
    width: 100%;
    height: 45px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-size: 16px;
    text-transform: uppercase;
    color: #1B1B1B; }
  .form-group .arrow-circle {
    position: absolute;
    right: 9px;
    top: 8px;
    outline: none;
    border: none;
    width: 29px;
    height: 29px;
    font-size: 0;
    border-radius: 50%;
    background-image: url("../../assets/icon-circle-arrow.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer; }
    .form-group .arrow-circle:disabled {
      background-image: url("../../assets/icon-circle-arrow-disabled.svg"); }

footer {
  padding: 2.5rem 0;
  color: #FFFFFF;
  background-color: #1B1B1B;
  text-align: center;
  margin-top: auto; }
  footer .partners-logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; }
  footer .copyright {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 10px; }
    footer .copyright p {
      font-size: 12px; }

.scrollTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #FFFFFF;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  width: 38px;
  height: 38px;
  cursor: pointer;
  background-image: url("../../assets/icon-scroll-top.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 0; }

span.msg {
  color: #FFFFFF;
  padding-top: 10px;
  display: block;
  padding-left: 5px; }

body {
  background-color: #1B1B1B;
  color: #FFFFFF;
  font-family: 'Eurostile-Regular';
  background-image: url("../../assets/db-assets/dbbg.png");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat; }
  body h5 {
    font-family: 'Oswald-Heavy';
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1.25em; }
  body h4 {
    font-family: 'Eurostile-Regular'; }

.db-sidebar {
  position: fixed;
  padding: 18px 0;
  background-color: #2C2C2C;
  display: flex;
  flex-direction: column;
  left: 0;
  height: 100%;
  width: 237px;
  z-index: 10; }
  .db-sidebar .nav-logo {
    max-width: 142px;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 18px; }
    .db-sidebar .nav-logo img {
      min-width: 142px; }
  .db-sidebar ul li .icon {
    margin-right: 18px; }
  .db-sidebar ul li a, .db-sidebar ul li span {
    height: 54px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    padding-left: 28px;
    position: relative;
    cursor: pointer; }
    .db-sidebar ul li a::after, .db-sidebar ul li span::after {
      -webkit-transition: all ease-in-out 180ms;
      -moz-transition: all ease-in-out 180ms;
      -ms-transition: all ease-in-out 180ms;
      -o-transition: all ease-in-out 180ms;
      transition: all ease-in-out 180ms;
      position: absolute;
      display: block;
      height: 80%;
      width: 4px;
      top: 50%;
      transform: translateY(-50%);
      content: "";
      left: -4px;
      background-color: #EB6900; }
    .db-sidebar ul li a:hover::after, .db-sidebar ul li span:hover::after {
      left: 0; }
  .db-sidebar ul li span::before {
    position: absolute;
    display: block;
    content: "";
    right: 20px;
    width: 13px;
    height: 8px;
    cursor: pointer;
    background-image: url("../../assets/db-assets/icon-arrow.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-transition: all ease-in-out 180ms;
    -moz-transition: all ease-in-out 180ms;
    -ms-transition: all ease-in-out 180ms;
    -o-transition: all ease-in-out 180ms;
    transition: all ease-in-out 180ms; }
  .db-sidebar ul li li {
    text-transform: uppercase; }
    .db-sidebar ul li li a {
      padding-left: 40px;
      font-size: 14px;
      height: 48px;
      background-color: #EB6900; }
      .db-sidebar ul li li a::after {
        background-color: #FFFFFF; }
  .db-sidebar ul li.active span::before {
    transform: rotateZ(-180deg); }
  .db-sidebar::after {
    position: absolute;
    height: 482px;
    content: "";
    width: 100%;
    background-image: url("../../assets/db-assets/sidebar-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    left: 0;
    bottom: 0;
    z-index: -1; }

@media screen and (min-width: 769px) {
  .active-aside .db-sidebar {
    width: 85px; }
    .active-aside .db-sidebar .nav-logo {
      max-width: 36px; }
    .active-aside .db-sidebar ul li {
      position: relative; }
      .active-aside .db-sidebar ul li a, .active-aside .db-sidebar ul li span {
        padding-left: 0;
        justify-content: center;
        font-size: 0; }
        .active-aside .db-sidebar ul li a::after, .active-aside .db-sidebar ul li span::after {
          display: none !important; }
      .active-aside .db-sidebar ul li .icon {
        margin-right: 0; }
      .active-aside .db-sidebar ul li span::before {
        right: 11px;
        width: 10px; }
  .active-aside .submenu {
    position: absolute;
    width: 196px;
    left: 100%;
    top: 18px; }
    .active-aside .submenu li a {
      justify-content: left !important;
      padding-left: 16px !important;
      font-size: 14px !important; }
  .active-aside .main-content {
    padding-left: 85px; }
  .active-aside .toggle-aside {
    left: 69px;
    background-image: url("../../assets/db-assets/icon-arrow-right.svg"); } }
.open-aside {
  position: relative;
  display: none;
  width: 22px;
  height: 18px;
  cursor: pointer;
  background-image: url("../../assets/db-assets/icon-menu.svg");
  background-position: center;
  background-size: 22px;
  background-repeat: no-repeat; }
  .open-aside::after {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 80;
    display: block;
    cursor: default;
    content: " ";
    background: rgba(0, 0, 0, 0.35);
    opacity: 0;
    -webkit-transition: all ease-in-out 180ms;
    -moz-transition: all ease-in-out 180ms;
    -ms-transition: all ease-in-out 180ms;
    -o-transition: all ease-in-out 180ms;
    transition: all ease-in-out 180ms;
    visibility: hidden; }

.toggle-aside {
  position: fixed;
  left: 221px;
  top: 20px;
  background-color: #2C2C2C;
  border: 1px solid #545458;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  z-index: 99;
  cursor: pointer;
  background-image: url("../../assets/db-assets/icon-arrow-close.svg");
  background-position: center;
  background-size: 10px;
  background-repeat: no-repeat; }
  .toggle-aside:hover {
    box-shadow: 0 3px 10px -1px rgba(163, 163, 163, 0.3); }

.list-render {
  display: flex;
  white-space: nowrap;
  overflow-x: hidden; }

.main-content {
  display: flex;
  flex-direction: column;
  padding-left: 237px;
  height: 100%;
  padding-top: 92px; }

.icon {
  position: relative;
  display: inline-block;
  min-width: 20px;
  height: 22px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .icon.icon-calendar {
    background-image: url("../../assets/db-assets/icon-calendar.svg"); }
  .icon.icon-eye {
    background-image: url("../../assets/db-assets/icon-eye.svg");
    width: 14px;
    height: 13px;
    background-size: contain; }
  .icon.icon-circle {
    background-image: url("../../assets/db-assets/icon-circle.svg");
    width: 14.17px;
    height: 14.17px;
    background-size: contain; }
  .icon.icon-user {
    background-image: url("../../assets/db-assets/icon-user.svg");
    width: 28px;
    height: 28px; }

.arenas-livestream-wrap {
  padding-left: 10px;
  margin-bottom: 25px;
  padding-bottom: 35px;
  overflow: hidden;
  position: relative; }
  .arenas-livestream-wrap::after {
    position: absolute;
    content: "";
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #545458;
    left: 24px; }

.db-slider .slick-dots {
  justify-content: start;
  padding-left: 13px;
  margin-top: 32px; }
  .db-slider .slick-dots button {
    border: none;
    background-color: rgba(255, 255, 255, 0.22); }
  .db-slider .slick-dots .slick-active button {
    width: 15px;
    background-color: #FFFFFF;
    position: relative;
    border: none; }
    .db-slider .slick-dots .slick-active button::after {
      position: absolute;
      display: block;
      content: "";
      width: 50%;
      height: 50%;
      border-radius: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #EB6900; }

.hide {
  display: none !important; }

.arenas-livestream-list .livestream-item {
  width: 100%;
  max-width: 539px;
  padding: 0 12px; }
.arenas-livestream-list .livestream-card {
  border: 1px solid #545458;
  border-radius: 5px;
  overflow: hidden;
  position: relative; }
.arenas-livestream-list .livestream-thumbnail {
  display: block;
  position: relative;
  height: 280px;
  width: 100%;
  border-bottom: 1px solid #545458;
  overflow: hidden; }
  .arenas-livestream-list .livestream-thumbnail img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    -webkit-transition: all ease-in-out 180ms;
    -moz-transition: all ease-in-out 180ms;
    -ms-transition: all ease-in-out 180ms;
    -o-transition: all ease-in-out 180ms;
    transition: all ease-in-out 180ms; }
  .arenas-livestream-list .livestream-thumbnail .icon-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90px;
    height: 90px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.5); }
    .arenas-livestream-list .livestream-thumbnail .icon-play::before {
      position: absolute;
      display: block;
      content: "";
      top: 50%;
      left: 55%;
      transform: translate(-50%, -50%);
      width: 0;
      height: 0;
      border-top: 25px solid transparent;
      border-left: 43px solid #FFFFFF;
      border-bottom: 25px solid transparent; }
  .arenas-livestream-list .livestream-thumbnail:hover img {
    transform: scale(1.07); }

.previous-matches-wrap {
  overflow: hidden;
  position: relative;
  padding: 0 0 60px 10px; }
  .previous-matches-wrap h4 {
    padding-left: 14px; }

.previous-matches-list {
  margin-top: 22px; }
  .previous-matches-list .previous-match-item {
    width: 100%;
    max-width: 343px;
    padding: 0 11px;
    text-decoration: none;
    color: #FFFFFF; }
    .previous-matches-list .previous-match-item:hover img {
      transform: scale(1.025); }
  .previous-matches-list .previous-match-card {
    overflow: hidden;
    position: relative; }
  .previous-matches-list .previous-match-thumbnail {
    display: block;
    position: relative;
    height: 179px;
    width: 100%;
    overflow: hidden;
    border-radius: 5px; }
    .previous-matches-list .previous-match-thumbnail img {
      object-fit: cover;
      border-radius: 5px;
      object-position: center;
      width: 100%;
      height: 100%;
      -webkit-transition: all ease-in-out 180ms;
      -moz-transition: all ease-in-out 180ms;
      -ms-transition: all ease-in-out 180ms;
      -o-transition: all ease-in-out 180ms;
      transition: all ease-in-out 180ms; }
  .previous-matches-list .previous-match-details {
    padding: 15px 0 0 0;
    background-color: transparent; }

.left-desc {
  padding-right: 12px; }

.card-details {
  padding: 18px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  align-items: center;
  text-transform: uppercase;
  background-color: #2C2C2C; }
  .card-details p {
    font-size: 14px;
    line-height: 1.45rem; }
    .card-details p.players {
      min-height: 38px;
      line-height: 1.2rem;
      margin: 0.2rem 0; }
  .card-details span.small {
    font-size: 12px;
    display: block;
    margin-top: 5px;
    line-height: 1.25em; }
  .card-details .right-desc {
    text-align: right;
    line-height: 18px; }
  .card-details .views {
    display: flex;
    align-items: center;
    justify-content: right; }
    .card-details .views .icon-eye {
      margin-left: 6px; }
  .card-details .date {
    font-family: 'Oswald-Heavy';
    color: #EB6900;
    line-height: 1.35em;
    white-space: nowrap;
    margin-top: 3px; }

.live-badge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 66px;
  height: 27px;
  background: #EB6900;
  border-radius: 5px;
  position: relative;
  line-height: 1em;
  text-transform: uppercase;
  margin-bottom: 5px; }
  .live-badge .icon {
    margin-left: 10px; }

.active-aside .db-top-menu {
  padding-left: 107px; }

.db-top-menu {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  padding-left: 253px;
  position: fixed;
  z-index: 9;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #1B1B1B; }

.btn-login {
  margin-left: auto;
  position: relative; }
  .btn-login .btn-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    height: 40px;
    border: 1px solid #545458;
    border-radius: 50px;
    text-decoration: none;
    color: #FFFFFF;
    padding: 0 10px 0 15px;
    -webkit-transition: all ease-in-out 180ms;
    -moz-transition: all ease-in-out 180ms;
    -ms-transition: all ease-in-out 180ms;
    -o-transition: all ease-in-out 180ms;
    transition: all ease-in-out 180ms; }
    .btn-login .btn-header:hover {
      background-color: rgba(255, 255, 255, 0.1); }
  .btn-login .icon {
    margin-left: 15px; }
  .btn-login .user-dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #1B1B1B;
    border: 1px solid #545458;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    right: 0;
    min-width: 145px;
    padding: 8px 0 10px 0;
    margin-top: 5px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.4s ease all;
    -moz-transition: 0.4s ease all;
    -ms-transition: 0.4s ease all;
    -o-transition: 0.4s ease all;
    transition: 0.4s ease all;
    transform: translateY(10px); }
    .btn-login .user-dropdown a {
      text-decoration: none;
      color: #FFFFFF;
      padding: 7px 17px;
      font-size: 14px;
      height: auto !important; }
      .btn-login .user-dropdown a:hover {
        background-color: rgba(255, 255, 255, 0.1); }
  .btn-login:hover .user-dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0); }

.db-login-page {
  background-color: #1B1B1B;
  color: #FFFFFF;
  font-family: 'Eurostile-Regular';
  background-image: url("../../assets/header.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat; }
  .db-login-page h5 {
    font-family: 'Oswald-Heavy';
    font-size: 20px;
    text-transform: uppercase; }
  .db-login-page h4 {
    font-family: 'Eurostile-Regular'; }

.section-signin-wrap {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  flex-direction: column; }
  .section-signin-wrap .nav-logo {
    display: block;
    margin-bottom: 20px; }

.wrap-login {
  width: 100%;
  max-width: 365px;
  background: rgba(44, 44, 44, 0.7);
  border-radius: 5px;
  overflow: hidden;
  padding: 40px 30px; }
  .wrap-login h2 {
    font-family: 'Oswald-Heavy';
    font-size: 31px;
    line-height: 1.15em;
    text-align: center; }
  .wrap-login a {
    color: #10B5C8; }
  .wrap-login form {
    display: flex;
    flex-direction: column;
    justify-content: center; }

.form-float-label {
  position: relative;
  margin-bottom: 20px; }
  .form-float-label input {
    font-family: 'Eurostile-Regular';
    font-size: 16px;
    display: block;
    width: 100%;
    height: 45px;
    padding: 0 17px;
    background: rgba(172, 173, 188, 0.1);
    color: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 5px;
    box-sizing: border-box; }
    .form-float-label input:focus {
      outline: none; }
      .form-float-label input:focus ~ .floating-label {
        top: 9px;
        left: 13px;
        font-size: 10px; }
    .form-float-label input:not(:placeholder-shown) ~ .floating-label {
      top: 9px;
      left: 13px;
      font-size: 10px;
      color: #EB6900; }

.floating-label {
  font-family: 'Eurostile-Regular';
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 17px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 5px;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all; }

.btn {
  text-transform: uppercase;
  position: relative;
  width: 100%;
  height: 45px;
  background: #EB6900;
  border: 1px solid #EB6900;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  font-family: 'Eurostile-Regular';
  font-size: 16px;
  color: #FFFFFF !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none; }

.or {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 20px; }
  .or::before, .or::after {
    position: absolute;
    display: block;
    content: "";
    width: 44%;
    height: 1px;
    background-color: #545458;
    left: 0;
    top: 55%;
    transform: translateY(-50%); }
  .or::after {
    left: auto;
    right: 0; }

.terms-and-conition {
  font-size: 14px;
  text-align: center;
  display: block;
  line-height: 1.25em; }

.uppercase {
  text-transform: uppercase; }

.previous-matches-list.previous-matches-tiles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px; }
  .previous-matches-list.previous-matches-tiles .previous-match-item {
    max-width: 100%; }

.video-page-livestream .previous-matches-wrap {
  padding: 0;
  margin-top: 0; }
  .video-page-livestream .previous-matches-wrap::before {
    display: none; }
  .video-page-livestream .previous-matches-wrap h4 {
    padding-left: 0; }
.video-page-livestream .previous-matches-list .previous-match-item {
  padding: 0; }

.video-playing-wrapper {
  padding-bottom: 32px;
  margin-bottom: 28px;
  border-bottom: 1px solid #545458; }
  .video-playing-wrapper h3 {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.35em; }
  .video-playing-wrapper p {
    margin-bottom: .35rem; }
  .video-playing-wrapper span {
    font-size: 75%; }

.video-playing-description {
  background: #1B1B1B;
  border: 1px solid #545458;
  border-radius: 5px;
  padding: 15px;
  margin-top: 1.05rem; }

.video-playing-iframe {
  padding-bottom: 56.25%;
  position: relative;
  display: block;
  width: 100%;
  background: #1B1B1B;
  border: 1px solid #545458;
  border-radius: 5px;
  overflow: hidden; }
  .video-playing-iframe::before {
    position: absolute;
    display: block;
    font-size: 14px;
    content: "Initializing Video...";
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: #a7a7a7; }
  .video-playing-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none; }

.game-schedule-details {
  border: 1px solid #545458;
  border-radius: 5px;
  overflow: hidden; }
  .game-schedule-details ul li {
    text-align: center;
    border-bottom: 1px solid #545458;
    padding: 15px 10px;
    background-color: #1B1B1B; }
    .game-schedule-details ul li.live-now {
      background: #452B16; }
    .game-schedule-details ul li:last-child {
      border-bottom: none; }
    .game-schedule-details ul li .live-badge {
      margin: .45rem 0; }
    .game-schedule-details ul li h4 {
      font-weight: 600;
      letter-spacing: .065rem; }

.video-page-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0 20px;
  margin-bottom: 7rem; }
  .video-page-container .video-page-livestream {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative; }
  .video-page-container .aside-video-details {
    max-width: 360px;
    width: 100%; }

.ads-aside {
  display: block;
  border: 1px solid #545458;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
  overflow: hidden;
  -webkit-transition: all ease-in-out 180ms;
  -moz-transition: all ease-in-out 180ms;
  -ms-transition: all ease-in-out 180ms;
  -o-transition: all ease-in-out 180ms;
  transition: all ease-in-out 180ms;
  margin-top: 1.2rem;
  border: 1px solid transparent; }
  .ads-aside:hover {
    opacity: 0.85;
    border: 1px solid #EB6900; }
  .ads-aside img {
    width: 100%; }

.submenu {
  display: none; }

.arenas-slider {
  height: 85px;
  background: #EB6900;
  border-radius: 5px;
  margin-bottom: 1rem;
  position: relative;
  font-size: 0; }
  .arenas-slider a:not(.arenas-slider-item) {
    border: none;
    cursor: pointer;
    outline: none;
    width: 28px;
    height: 27px;
    background-image: url("../../assets/db-assets/icon-chevron.svg");
    background-position: center;
    background-size: 29px;
    background-repeat: no-repeat;
    background-color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transition: all ease-in-out 180ms;
    -moz-transition: all ease-in-out 180ms;
    -ms-transition: all ease-in-out 180ms;
    -o-transition: all ease-in-out 180ms;
    transition: all ease-in-out 180ms;
    left: 20px; }
    .arenas-slider a:not(.arenas-slider-item):hover {
      opacity: 0.7; }
  .arenas-slider a[rel="next"] {
    right: 20px;
    left: auto;
    transform: translateY(-50%) rotateZ(180deg); }

.arenas-slider-list {
  width: 100%;
  max-width: 223px;
  margin: auto;
  height: 100%;
  display: flex; }
  .arenas-slider-list img {
    width: 129px; }
  .arenas-slider-list.slick-slider {
    display: block; }
  .arenas-slider-list .arenas-slider-item {
    margin: auto; }
    .arenas-slider-list .arenas-slider-item img {
      margin: auto;
      -webkit-transition: all ease-in-out 180ms;
      -moz-transition: all ease-in-out 180ms;
      -ms-transition: all ease-in-out 180ms;
      -o-transition: all ease-in-out 180ms;
      transition: all ease-in-out 180ms; }
      .arenas-slider-list .arenas-slider-item img:hover {
        transform: scale(1.05); }
  .arenas-slider-list .slick-center.slick-active img {
    opacity: 1; }

.arena-logo {
  position: absolute;
  width: 107px;
  height: 50px;
  left: 20px;
  top: 0px;
  background: #EB6900;
  border-radius: 0px 0px 5px 5px;
  z-index: 1;
  display: flex;
  align-items: center; }
  .arena-logo img {
    width: 89px;
    height: 39px;
    object-fit: contain;
    margin: auto; }

.no-livestream {
  color: #a7a7a7;
  font-size: 14px;
  padding: 2px 0; }

.heading-with-cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px; }
  .heading-with-cta a {
    text-decoration: none;
    color: #10B5C8;
    font-size: 14px; }

.nowrap {
  white-space: nowrap; }

/*# sourceMappingURL=main.css.map */
